.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 60px;
    height: 60px;
}

.company-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.search-input {
    border: none;
    border-bottom: 1px solid lightgrey;
    padding: 5px 10px;
    outline: none;
    margin-right: 16px;
}

.icon {
    font-size: 24px;
    margin-right: 10px;
}

.icon:hover {
    cursor: pointer;
}