.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.06);
    padding: 16px;
    max-width: 300px;
    min-width: 200px;
    min-height: 400px;
    width: calc(100vw / 3);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
    margin: 8px;
}

.product:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.24);
}

.productImage {
    width: 150px;
    height: 225px;
    object-fit: contain;
    margin-bottom: 12px;
}

.product h3 {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0;
    text-align: center;
    color: #333;
    height: 70px;
    overflow: hidden;
}

.product p {
    font-size: 1rem;
    font-weight: 500;
    color: black;
    margin: 20px 0 10px;
    text-align: center;
    height: 20px;
}

.product button {
    background-color: lightblue;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    font-size: 0.95rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease;
    width: 100%;
    max-width: 180px;
}

.product button:hover {
    background-color: blue;
}
